@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Prata&family=Syne:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




a.active hr{
    display: block;
}

*{
    font-family: 'Outfit';
}

.logo{
    font-family: 'Orbitron';
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 640px){
    a.active {
        background-color: black;
        color: white;
    }
}

::-webkit-scrollbar { 
    display: none;
} 